/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-attachment: fixed;
  background-image: var(--background-gradient);
  background-size: cover;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-weight);
  color: var(--main-text-color);
}

.header {
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.header__block {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: 'PressStart2P-Regular', monospace;
  padding-top: calc(clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem) - 2px);
  padding-bottom: calc(clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem) - 2px);
  margin-block-start: var(--margin);
  margin-block-end: var(--margin);
}

.block-width {
  min-inline-size: var(--block-width);
}

.header__block-logo {
  font-size: clamp(3.0625rem, 2.7113rem + 1.5023vw, 4.0625rem);
}

.header__block-heading {
  font-size: clamp(0.875rem, 0.6779rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.card {
  inline-size: var(--block-width);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card__heading {
  font-variation-settings: 'wght' var(--heading-weight);
  font-size: 18px;
  padding: 4px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.card__wrapper {
  position: relative;
}

.label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  color: var(--accent-color);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color), 1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.filter-saturation {
  filter: saturate(50%);
}

.filter-contrast {
  filter: contrast(130%);
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-greyscale {
  filter: grayscale(100%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-sepia {
  filter: sepia(20%) brightness(120%);
}

.filter-opacity {
  filter: opacity(90%);
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  border-top: 2px solid var(--accent-color);
}

.card__description-text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons-group {
  align-self: flex-end;
  display: grid;
  grid-template-columns: max-content fit-content(130px);
  align-items: start;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  padding: 0;
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.like-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart_scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  border: none;
  background-color: transparent;
  padding: 10.5px 0;
  inline-size: 130px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.button__save {
  border: none;
  background-color: transparent;
  padding: 15px 18px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

.button__save::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__save:focus-visible {
  outline: none;
  box-shadow: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button__save:hover::before {
  transform: translateX(0);
}

.save-group {
  gap: 8px;
}

.save-icon {
  width: 21px;
  height: 21px;
  filter: invert(100%);
}

.dialog[open] {
  display: grid;
  grid-template-columns: max-content minmax(210px, 234px);
  grid-template-rows: 63px 38px;
  align-items: center;
  justify-content: start;
  border: 1px solid var(--accent-color);
  gap: 20px;
  padding: 30px;
  text-transform: uppercase;
}

.dialog__save-icon {
  width: 39px;
  height: 39px;
}

.dialog__heading {
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 150%;
}

.dialog__button {
  position: relative;
  grid-column: 1 / 3;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  text-transform: inherit;
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.dialog__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.dialog__button:focus-visible {
  outline: none;
  box-shadow: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.dialog__button:hover::before {
  transform: translateX(0);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

@media (width <= 375px) {
  .block-width {
    min-inline-size: 100%;
  }

  .card {
    min-block-size: 758px;
  }

  .button__save {
    flex-direction: column;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }

  .save-group {
    flex-direction: column;
  }

}