/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-attachment: fixed;
  background-image: var(--background-gradient, repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%));
  background-size: cover;
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--main-weight, 410);
  color: var(--main-text-color, #1a1a1a);
}

.header {
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.header__block {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  padding-top: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);
  padding-bottom: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);
  margin-block-start: var(--margin, 100px);
  margin-block-end: calc(var(--margin, 100px) - 4px);
}

.block-width {
  min-inline-size: calc(var(--block-width, clamp(23.4375rem, 16.2911rem + 30.5164vw, 43.75rem)) + 4px);
}

.header__block-logo {
  font-size: clamp(3.0625rem, 2.7113rem + 1.5023vw, 4.0625rem);
}

.header__block-heading {
  font-size: clamp(0.875rem, 0.6779rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin-block-end: var(--margin, 100px);
}

.card {
  inline-size: var(--block-width, clamp(23.4375rem, 16.2911rem + 30.5164vw, 43.75rem));
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  display: flex;
  flex-direction: column;
}

.card__heading {
  font-variation-settings: 'wght' var(--heading-weight, 715);
  font-size: 18px;
  padding: 4px 10px;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__wrapper {
  position: relative;
}

.label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-size: 14px;
  color: var(--accent-color, #000);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff), 1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
}

@supports (-webkit-text-stroke: 1px var(--bg-color, #fff)) {
  .label {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
}

.filter-saturation {
  filter: saturate(50%);
}

.filter-contrast {
  filter: contrast(130%);
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-greyscale {
  filter: grayscale(100%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-sepia {
  filter: sepia(20%) brightness(120%);
}

.filter-opacity {
  filter: opacity(90%);
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  border-top: 2px solid var(--accent-color, #000);
}

.card__description-text {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons-group {
  align-self: flex-end;
  display: grid;
  grid-template-columns: max-content fit-content(130px);
  align-items: start;
  gap: 7px;
}

.card__icon-button {
  border: none;
  background-color: var(--bg-color, #fff);
  transition: outline 0.3s ease;
  padding: 0;
  inline-size: 38px;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
  outline-offset: -2px;
}

.like-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, rgba(255, 0, 0, 1));
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heart_scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.button {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000);
}

.card__like-button {
  padding: 10.5px 0;
  inline-size: 130px;
}

.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font, #000), fantasy;
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  z-index: 1;
  color: var(--text-color, #fff);
  mix-blend-mode: difference;
}

.button__save {
  padding: 16px 18px 14px 18px;
}

.save-group {
  gap: 8px;
}

.save-icon {
  width: 21px;
  height: 21px;
  filter: invert(100%);
}

.dialog[open] {
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  display: grid;
  grid-template-columns: max-content minmax(202px, 234px);
  align-items: center;
  justify-content: start;
  border: 2px solid var(--accent-color, #000);
  column-gap: 20px;
  row-gap: 30px;
  padding: 28px;
  text-transform: uppercase;
  opacity: 1;
}

.dialog__save-icon {
  width: 39px;
  height: 39px;
}

.dialog__heading {
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-size: 14px;
  line-height: 150%;
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 10.5px;
  text-transform: inherit;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

@media (width <= 375px) {
  .header__block {
    padding-bottom: calc(clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem) - 4px);
    margin-block-end: var(--margin, 100px);
  }

  .block-width {
    min-inline-size: 100%;
  }

  .save-icon {
    width: 28px;
    height: 28px;
  }

  .save-group {
    flex-direction: column;
  }

  .dialog[open] {
    padding: 28px 38px;
  }
}